<center><h1> My Tasks List </h1> <br> </center>
                 <a href="/todo/index">Home</a> <br>
<h2>Todo #<%= @todo.id %></h2>
  <h3><%= @todo.description %></h3>
    <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo.pomodoro_estimate %> Pomodoros</span> <br>
  <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
  <a href="/todo/destroy/<%= @todo.id %>" class="button" id="delete-todo-button">Delete</a> <br> 
